---
import Layout from '../components/Layout.astro';
---

<Layout title="About Us">
  <main>
    <h1>About Us</h1>
    <p>Welcome to our About page. Here is some information about us...</p>
    <!-- Add more content as needed -->
  </main>
</Layout>
