---
import React from 'react';
import ReactDOM from 'react-dom';
import App from '../components/App.jsx';
---

<html>
  <head>
    <!-- Head elements -->
  </head>
  <body>
    <div id="root">
      <App />
    </div>
    <script>
      ReactDOM.hydrate(<App />, document.getElementById('root'));
    </script>
  </body>
</html>
